.about {
  text-align: center;
  margin-top: -35px;
	height: 90vh;
  width: 100vw;
  background: url('/resources/images/space.png');
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;

  
}
