.interests {
  margin-top: -35px;
	height: 50vh;
	width: 110vw;
  background: url('/resources/images/asfalt-dark.png') $light-grey;	
  transform: rotate(-3deg);
  -ms-transform: rotate(-3deg); /* IE 9 */
    -webkit-transform: rotate(-3deg); /* Chrome, Safari, Opera */
}