.skills {
  margin-top: -35px;
	height: 100vh;
	width: 100vw;
  background: url('/resources/images/clouds.jpg');
  background-position: center center;
  background-size: 100%;
  background-attachment: fixed;	
}